@model Kztek_Library.Models.SelectListModel_Multi

@{
    var list = Model.Selecteds.Split(',').ToList();
}

<select multiple=""  class="multiselect form-control" id="@Model.IdSelectList" name="@Model.IdSelectList" data-placeholder="@Model.Placeholder">
    @foreach (var item in Model.Data)
    {
        if (list.Any(n => n.Equals(item.ItemValue)))
        {
            <option value="@item.ItemValue" selected>@item.ItemText</option>
        } 
        else
        {
            <option value="@item.ItemValue">@item.ItemText</option>
        }
    }
</select>