@model List<Kztek_Model.Models.WM.WM_Diary>

@foreach (var item in Model)
{
    <tr>
        <td colspan="2">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width: 20%;">Tiêu đề</td>
                        <td style="width: 80%;">@item.Title</td>
                    </tr>
                    <tr>
                        <td style="width: 20%;">Mô tả</td>
                        <td style="width: 80%;">@item.Description</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-sm btn-primary btnEditDiary" type="button" idata="@item.Id" idata1="@item.ScheduleId">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger btnRemoveDiary" type="button" idata="@item.Id">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
}