@model Kztek_Library.Models.AuthModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-coffee green"></i>
                Vui lòng điền thông tin
            </h4>

            <div class="space-6"></div>

            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(n => n.Username, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                        @Html.ValidationMessageFor(n => n.Username, "", new { @class = "text-danger" })
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(n => n.Password, new { @class = "form-control", @type = "password", @placeholder = "Mật khẩu" })
                            <i class="ace-icon fa fa-lock"></i>
                        </span>
                        @Html.ValidationMessageFor(n => n.Password, "", new { @class = "text-danger" })
                    </label>

                    <div class="space"></div>

                    <div class="clearfix">
                        <label class="inline">
                            @Html.CheckBoxFor(n => n.isRemember, new { @class = "ace" })
                            <span class="lbl"> Ghi nhớ</span>
                        </label>

                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110">Login</span>
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            }
        </div><!-- /.widget-main -->

        @{
            if (Model.isAny == false)
            {
                <div class="toolbar clearfix">

											<div>
												<a href='@Url.Action("Register", "Login")' data-target="#signup-box" class="user-signup-link">
													Đăng ký
													<i class="ace-icon fa fa-arrow-right"></i>
												</a>
											</div>
										</div>
            }
        }
        
    </div><!-- /.widget-body -->
</div>

@section scripts{
    <script>
       
    </script>    
}