@model Kztek_Library.Models.SidebarModel

<ul class="submenu">
    @if (Model.Data_Child.Any())
    {
        foreach (var item in Model.Data_Child.Where(n => n.MenuType.Equals("1")).OrderBy(n => n.SortOrder))
        {
            var child = Model.Data.Where(n => n.ParentId.Equals(item.Id) && n.MenuType.Equals("1"));
            if (child.Any())
            {
                <li class='@string.Format("{0}", Model.Breadcrumb.Contains(item.Id)? "open active" : "")'>
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon @item.Icon"></i>
                        <span class="menu-text">
                            @await Component.InvokeAsync("MenuLanguage", new { path=string.Format("{0}:{1}", item.ControllerName, item.ActionName), menuname = item.MenuName })
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>

                    @await Html.PartialAsync("~/Views/Shared/Components/Sidebar/SidebarSubPartial.cshtml", new Kztek_Library.Models.SidebarModel() { 
						ControllerName = Model.ControllerName,
						ActionName = Model.ActionName,
						Breadcrumb = Model.Breadcrumb,
						CurrentView = Model.CurrentView,
						Data = Model.Data,
						Data_Child = child.ToList()
					 })
                </li>
            }
            else
            {
                <li class="@string.Format("{0}", ((Model.ControllerName.Equals(item.ControllerName) && Model.ActionName.Equals(item.ActionName)) || (Model.ControllerName.Equals(item.ControllerName) && !Model.ActionName.Contains("Report")))? "active" : "")">
                    <a href='@Url.Action(item.ActionName, item.ControllerName)'>
                        <i class="menu-icon @item.Icon"></i>
                        <span class="menu-text">
                            @await Component.InvokeAsync("MenuLanguage", new { path=string.Format("{0}:{1}", item.ControllerName, item.ActionName), menuname = item.MenuName })
                        </span>
                    </a>
                </li>
            }
        }
    }
</ul>