@model Kztek_Library.Models.PM_ComponentModal

@{

}

<div class="modal fade" id="@Model.Data_Modal.idmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @Html.Hidden("componentid", Model.Data.Id)
    @Html.Hidden("projectid", Model.Data.ProjectId)

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Data_Modal.title</h5>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-6">
                             <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Mã <span style="color:red">*</span></label>
                                <div class="col-sm-9 col-xs-12">
                                    @Html.TextBox("componentCode", Model.Data.Code, new { @class = "form-control",
                                    @placeholder = "Mã component" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Tiêu đề <span style="color:red">*</span></label>
                                <div class="col-sm-9 col-xs-12">
                                    @Html.TextBox("componentTitle", Model.Data.Title, new { @class = "form-control",
                                    @placeholder = "Tên component" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Mô tả </label>
                                <div class="col-sm-9 col-xs-12">
                                    @Html.TextArea("componentDescription", Model.Data.Description, new { @class = "form-control",
                                    @placeholder = "Mô tả" }) 
                                </div>
                            </div>

                           <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Ghi chú </label>
                                <div class="col-sm-9 col-xs-12">
                                    @Html.TextArea("componentNote", Model.Data.Note, new { @class = "form-control",
                                    @placeholder = "Ghi chú" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Bắt đầu</label>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="input-group">
                                        @Html.TextBox("dtpComponentDateStart", Model.Data.DateStart.ToString("dd/MM/yyyy HH:mm"), new { @class = "form-control dtp_input",
                                    @placeholder = "" })
                                        <span class="input-group-addon">
																	    <i class="ace-icon fa fa-calendar"></i>
																    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Kết thúc</label>
                                <div class="col-sm-9 col-xs-12">
                                   <div class="input-group">
                                        @Html.TextBox("dtpComponentDateEnd", Model.Data.DateEnd.ToString("dd/MM/yyyy HH:mm"), new { @class = "form-control dtp_input",
                                    @placeholder = "" })
                                       <span class="input-group-addon">
																	    <i class="ace-icon fa fa-calendar"></i>
																    </span>
                                   </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Cấp cha</label>
                                <div class="col-sm-9 col-xs-12">
                                   @await Component.InvokeAsync("ChosenSelect", Model.Select_ProjectComponents)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label-right no-padding-right">
                                    Trạng thái</label>
                                <div class="col-sm-9 col-xs-12">
                                   @await Component.InvokeAsync("ChosenSelect", Model.Select_ProjectStatus)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnConfirmComponent">Xác nhận</button>
            </div>
        </div>
    </div>
</div>