@model Kztek_Model.Models.SY_Notification

@{
ViewBag.Title = "Thêm mới thông báo";
    var menus = (List<string>)ViewBag.MenuFunctions;

}

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

<div class="row">
    @if (TempData["Success"] != null) {
    <strong style="color:green">@TempData["Success"]</strong>
    }
    <strong style="color:red">@ViewBag.Error</strong>
</div>

<div class="row">

    @using (Html.BeginForm("Create", "SY_Notification", FormMethod.Post, new { encType = "multipart/form-data", @class =
    "form-horizontal", @role = "form", @id="frmNotification" }))
    {

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.Hidden("SaveAndCountinue", false)

    <div class="col-xs-10">
        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right">
                Tên vai trò <span style="color:red">*</span></label>
            <div class="col-sm-6 col-xs-12">
                @Html.TextBoxFor(n => n.Title, new { @class = "form-control",
                @placeholder = "Tiêu đề" }) @Html.ValidationMessageFor(n =>
                n.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label no-padding-right"> Mô tả </label>
            <div class="col-sm-6 col-xs-12">
                @Html.TextAreaFor(n => n.Description, new { @class = "form-control",
                @placeholder = "Mô tả" }) @Html.ValidationMessageFor(n =>
                n.Description, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

     @await Html.PartialAsync("~/Views/Shared/Partials/ButtonPartial.cshtml", new Kztek_Library.Models.AuthPartialModel() {
          ControllerName = "SY_Notification",
          ActionName = "Create",
          RecordId = "",
          model = null,
          Auth_Value = null
      })
    }
</div>

@section scripts{
<script>
    $(document).ready(function () {
        $("#Countinue").click(function () {
            $("#SaveAndCountinue").val("true");
        });

            $(".chkCheckBox").click(function() {
                var cmd = $(this);
                cmd.parent().parent().find('ul li input[type=checkbox]').prop('checked', cmd.is(':checked'));
            });

            $("span.liMenuFunction").click(function() {
                var cmd = $(this);
                cmd.parent().find('ul li span.liMenuFunction').parent().parent().fadeToggle();
            });

           $("#frmRole").submit(function () {
                var lstId = "";

                $("input[name='chkCheckBox']").each(function() {
                    var cmd = $(this);
                    var id = cmd.prop("value");

                    if ($(this).is(":checked")) {
                        lstId = lstId + id + ";";
                    }
                });

                $("#MenuFunctionIds").val(lstId);
            }); 
    });
</script>
}